.header {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  padding: 10px 0;

  h1 {
    margin: 0;
  }
}

.content-container {
  padding: 20px;

  button {
    padding: 10px 15px;
    margin-bottom: 10px;
  }
}
